<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

	<!--<extensions>
		<add assembly="NLog.MailKit"/>
	</extensions>-->

	<targets xsi:type="AsyncWrapper"  async="true">
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} - ${message}" />
		<target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${message}" />
		<!--保存至文件-->
		<!--<target name="log_file" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}/${level}.txt"
            layout="机器：${machinename} ${newline}时间：${longdate} ${newline}级别：${level} ${newline}进程：${processid} ${newline}线程：${threadid} ${newline}内容：${message} ${newline}堆栈：${stacktrace} ${newline}位置：${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True} ${newline}${newline}"/>-->
		<!--输出至Debugger-->
		<!--<target name="debug" xsi:type="Debug"
            header="*********************"
            layout="机器：${machinename} ${newline}时间：${longdate} ${newline}级别：${level} ${newline}进程：${processid} ${newline}线程：${threadid} ${newline}内容：${message} ${newline}堆栈：${stacktrace} ${newline}位置：${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}"
            footer="*********************${newline}${newline}" />-->
		<!--输出至控制台-->
		<!--<target name="console" xsi:type="ColoredConsole"
            layout="机器：${machinename} ${newline}时间：${longdate} ${newline}级别：${level} ${newline}进程：${processid} ${newline}线程：${threadid} ${newline}内容：${message} ${newline}堆栈：${stacktrace} ${newline}位置：${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True} ${newline}${newline}"/>-->
		<!--输出至邮件-->
		<!--<target xsi:type="Mail" name="infoMail"
			 smtpServer="smtp.qq.com"
			 smtpPort="465"
			 smtpAuthentication="Basic"
			 smtpUserName="2909491530@qq.com"
			 smtpPassword="nyllioltgzhvdchb"
			 enableSsl="true"
			 addNewLines="true"
			 from="2909491530@qq.com"
			 to="2909491530@qq.com;714221537@qq.com"
			 subject="来自：${machinename}的价格提醒"
			 header="*********************"
			 body="${longdate} ${level:uppercase=true} ${message}"
			 footer="*********************" />-->
	</targets>


	<rules>
		<!--<logger name="Microsoft.*" minlevel="Trace" writeTo="log_file" final="true" />
	  <logger name="*" level="Info" writeTo="log_file" />
    <logger name="*" level="Error" writeTo="log_file" />
    <logger name="*" level="Debug" writeTo="log_file" />
    <logger name="*" minlevel="Trace" writeTo="debug" />
    <logger name="*" level="Fatal" writeTo="log_file" />
    <logger name="*" minlevel="info" writeTo="infoMail" />
    <logger name="*" level="Warn" writeTo="log_file" />-->
		<!--<logger name="*" minlevel="Warn" writeTo="infoMail" />-->
		<logger name="*" level="info" writeTo="console" />
		<!--<logger name="*" level="Info" writeTo="file" />-->
		<logger name="*" level="info" writeTo="file" />
	</rules>
</nlog>