@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/chat/css/Chatstyle.css" asp-append-version="true" />

<h2>ChatGpt Speech Recognition || Synthesiser</h2>

<p>
    Enter some text in the input below and press Enter or the "Send" button
    to hear it. change voices using the dropdown menu.
</p>

<div id="chat-container" style="margin-top:15px">
    <div id="chat-history">
        <div class="chat-message">
            <!-- <div class="chat-message-content">

            </div>
            <div class="chat-message-actions">
              <button class="play-button" title="Listen to message"></button>
            </div> -->
        </div>
    </div>

</div>
<div style="margin-top:15px">
    <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate" />
    <div class="rate-value">1</div>
    <div class="clearfix"></div>
</div>

<div style="margin-top:15px">
    <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.13" id="pitch" />
    <div class="pitch-value">1</div>
    <div class="clearfix"></div>
</div>

<select style="margin-top:15px"></select>

<div id="chat-input" style="margin-top:15px">
    <input type="text" id="message-input" placeholder="Type your message here...">
    <button id="send-button">Send</button>
    @*<button id="voice-input-button">Speak</button>*@
</div>

<script src="~/chat/js/Chatscript.js"></script>



