@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/chat/css/Chatstyle.css?version=1.3.1" type="text/css"/>



<h2>ChatGpt Speech Recognition || Synthesiser</h2>

<p>
    Enter some text in the input below and press Enter or the "Send" button
    to hear it. change voices using the dropdown menu.
</p>
<div class="select-wrapper">
    <select id="Languages" style="cursor:pointer;">
    </select>
    <select id="Voices" style="cursor:pointer;">
    </select>
</div>
<div style="margin-top:15px;">
    <label for="rate">Rate</label><input style="cursor:pointer;" type="range" min="0.5" max="2" value="1" step="0.1" id="rate" />
    <div class="rate-value" style="cursor:pointer;">1</div>
    <div class="clearfix" style="cursor:pointer;"></div>
</div>

<div style="margin-top:15px  ">
    <label for="pitch">Pitch</label><input style="cursor:pointer;" type="range" min="0" max="2" value="1" step="0.13" id="pitch" />
    <div class="pitch-value">1</div>
    <div class="clearfix"></div>
</div>
<div id="chat-container" style="margin-top:15px;cursor:pointer ">
    <div id="chat-history">
        <div class="chat-message">
            @* <div class="blur-div">
                  <div class="chat-message-content">

                   </div>
             </div>
            
              <div class="chat-message-actions">
              <button class="play-button" title="Listen to message"></button>
            </div> *@
        </div>
    </div>

</div>

@*<div style="margin-top:15px ">
    <select id="Languages" style="cursor:pointer;"></select>
    <select id="Voices" style="cursor:pointer;"></select>
</div>*@


<div id="chat-input" style="margin-top:15px">
    <input type="text" id="message-input" placeholder="Type your message here...">
    <button id="send-button" style="cursor:pointer;">Send</button>
    @*<button id="voice-input-button">Speak</button>*@
</div>

<script type="text/javascript" src="~/chat/js/Chatscript.js?version=1.1.6"></script>



