body {
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}

header {
    background-color: #007AFF;
    color: #fff;
    padding: 1px;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 5px;
}

.intro {
    margin-bottom: 1em;
}

select {
    width: 250px;
    padding: 10px;
    margin-left: 15px;
    background-color: lightcyan;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    font-size: 16px;
    font-family: 'Microsoft YaHei UI', sans-serif;
    color: #666;
}

select option {
    font-size: 16px;
    font-family: 'Microsoft YaHei UI', sans-serif;
    color: #666
}

.options {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#rate,
#pitch {
    margin-right: 0.5em;
    align-items: center;
    margin-bottom: 1em;
    width: 30%;
}

label {
    margin-right: 0.5em;
    width: 5%;
    line-height: 1.5;
}

.rate-value,
.pitch-value {
    margin-right: 55%;
    float: right;
    width: 5%;
    line-height: 1.5;
}


#chat-container {
    margin-top: 10px;
    border: 2px solid #4CD964;
    width: 70%;
    height: 45%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#chat-history {
    padding: 10px;
    margin-bottom: auto;
}

.chat-message {
    display: flex;
    margin-bottom: 10px;
}

.blur-div {
    background-size: cover;
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}

.blur-div .chat-message-content {
    background-color: #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    margin-right: 0px;
}

.chat-message-role {
    background-color: #b5cee4;
    border-radius: 5px;
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    margin-right: 5px;
    height: 20%;
}

.chat-message-actions {
    position: relative;
    display: inline-block;
}

.chat-message-actions .play-button {
    position: absolute;
    top: 0;
    right: -10px;
    padding: 7px;
    background-color: lightblue;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* background-image: url("speaker.png"); */
    background-repeat: no-repeat;
    background-size: contain;
}


.chat-message-actions .play-button:hover {
    background-color: green;
}

.chat-message-actions .play-button:focus {
    outline: none;
}

#chat-input {
    margin-top: 1em;
    display: flex;
    align-items: center;
    width: 70%;
}

#message-input {
    flex-grow: 1;
    margin-right: 1em;
    border: 2px solid #F2F2F7;
    color: #1C1C1E;
    /* flex: 3; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    width: 40%;
}

.blur-div {
    background-size: cover;
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}



@media only screen and (max-width: 657px) {
    .options {
        flex-direction: column;
    }

    .select-wrapper {
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    #blur-button {
        margin-top: 0.5em;
    }
}

@media only screen and (max-width: 464px) {
    .main {
        padding: 0.5em;
    }

    .chat-history {
        max-height: 250px;
    }
}