html {
    height: 100%;
}


body {
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    overflow-y: auto;
    overflow-x: hidden
}



    body::-webkit-scrollbar {
        width: 5px;
    }

    body::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

        body::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

#cursor {
    display: inline-block;
    width: 15px;
    height: 3px;
    background-color: #000;
    animation: blink 0.5s infinite;
    display: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

select {
    position: fixed;
    padding: 10px;
    margin-left: 15px;
    background-color: #fae4fe;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    font-size: 16px;
    /*font-family: 'Microsoft YaHei UI', sans-serif;*/
    color: #666;
    z-index: 1000;
}

    select option {
        /*font-family: 'Microsoft YaHei UI', sans-serif;*/
        color: #666
    }



#inputWrapper {
    position: fixed;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin: 10px;
    background-color: rgba(255,255,255,1);
    width: 70%;
    bottom: 58px;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: height 0.2s ease-out;
}

    #inputWrapper:focus-within {
        border: 1px solid blue;
    }

#myTextarea {
    width: 95%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    resize: none;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);*/
    height: auto;
    transition: height 0.2s ease-out;
    outline: none;
}

    #myTextarea::-webkit-scrollbar {
        width: 1px;
    }

    #myTextarea::-webkit-scrollbar-track {
        background-color: rgba(255,255,255,1);
    }

    #myTextarea::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,1);
        border-radius: 5px;
    }

        #myTextarea::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255,255,255,1);
        }

#chat-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    
    align-items: center;
    box-sizing: border-box;
   
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto
}


#chat-history {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

.chatmessage-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-message {
    justify-content: left;
    display: flex;
    margin-top: 20px;
    width: 90%;
}

.blur-div {
    background-size: cover;
    transition: filter 0.618s ease-in-out;
    z-index: 2
}

    .blur-div .chat-message-content {
        background-color: #F5F3E0;
        border-radius: 5px;
        max-width: 100%;
        padding: 10px;
        margin-right: 0px;
        font-family: Gill Sans, sans-serif;
        font-size: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
        color: black;
        
    }


.chat-message-role {
    background-color: #FAE4FE;
    border-radius: 5px;
    display: inline-block;
    max-width: 100%;
    padding: 2px;
    margin-right: 5px;
    height: 19%;
}

.chat-message-actions {
    position: relative;
    display: inline-block;
}

    .chat-message-actions .play-button {
        position: absolute;
        top: 0;
        right: -10px;
        padding: 7px;
        background-color: lightblue;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .chat-message-actions.play-audio {
        display: none;
    }


    .chat-message-actions .play-button:hover {
        background-color: green;
    }

    .chat-message-actions .play-button:focus {
        outline: none;
    }


.configMenu {
    display: flex;
}

@media only screen and (max-width: 464px) {
    .main {
        padding: 0.5em;
    }

    .chat-history {
        max-height: 250px;
    }
}
