

@*<body id="body-container" style="padding: 0; background-color: #444444;font-family: Gill Sans, sans-serif;">
    
    
<link rel="stylesheet" href="~/dist/main.css">
   
</body>*@
<div id="chat-container" style="cursor:pointer ;margin-bottom: 50px; ">
    <div id="chat-history">
        @*<div class="chat-message">
        </div>*@
        <span id="cursor"></span>
    </div>
    <!-- Blocks for content go here -->
    <div id="inputWrapper">
        <!-- <input type="text" placeholder="Type something...onblur="resetHeight()">background: rgb(136, 136, 136); border-width: 4px 4px 4px;border-style: solid;border-color: rgb(136, 136, 136)   -->
        <textarea id="myTextarea" ></textarea>
        <button id="send-button" style="width:41px;display:block;border: none;background: white;border-radius: 0 10px 10px 0;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
            </svg>

        </button>

    </div>
</div>





